<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>php-todo-list-json </title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js"></script>
</head>

<body>


    <div id="app">
        <h1>ToDO</h1>

        <h2>Aggiungi cose da fare:</h2>
        <input type="time" placeholder="Inserire orario" v-model="orario">
        <input type="text" placeholder="Inserire Azione" v-model="azione">
        <button v-if="azione.length >=3" @click="addElement()">Aggiungi</button>

        <h2>Lista cose da fare:</h2>
        <ul>
            <li v-for="element in toDo">
                {{element.azione}} alle ore: {{element.orario}}
            </li>
        </ul>
    </div>

    <script src="./main.js"></script>
</body>

</html>